{{ partial "header.html" . }}

<div class="header-hero">
  {{ partial "nav.html" . }}

  <div class="container">
    <h1>
      DjangoCon Europe 2019

      <small>
        Copenhagen, Denmark
        <br />
        April 10-14th 2019
      </small>
    </h1>

    <a href="/live/" target="_blank" class="button button-red">
      Stream live
    </a>

    <br>
    <br>

    <a href="https://members.2019.djangocon.eu/conference/schedule/" target="_blank" class="button button-teal">
      Conference Schedule
    </a>
  </div>
</div>

<main class="content page-index container">
  {{ .Content }}

  <h3>Conference Updates</h3>

  <div class="post-summaries">
    {{ range where .Pages "Section" "news" }}
      {{ partial "summary.html" . }}
    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}
