{{ partial "header.html" . }}

<div class="header-hero">
  {{ partial "nav.html" . }}

  <div class="container">
    <h1>
      DjangoCon Europe 2019

      <small>
        Copenhagen, Denmark
        <br />
        April 10-14th 2019
      </small>
    </h1>

    <a href="https://www.youtube.com/user/djangoconeurope" target="_blank" class="button button-red">
      Watch the talks online
    </a>

    <br>
    <br>
    <br>

    <p>We had a wonderful conference this year with fantastic speakers, workshops
      and lovely attendees. Can't wait to see you next year! Come see us at <a href="https://djangocph.dk/" target="_blank">DjangoDay CPH</a>.</p>
  </div>
</div>

<main class="content page-index container">
  {{ .Content }}

  <h3>Conference Updates</h3>

  <div class="post-summaries">
    {{ range where .Pages "Section" "news" }}
      {{ partial "summary.html" . }}
    {{ end }}
  </div>
</main>

{{ partial "footer.html" . }}
