{% extends "base.html" %}

{% block title %}Bike preference{% endblock %}

{% block content %}

<h1>Submit bike preference</h1>

<p>If you would like to commute by bike, you can reserve a bike
preference for easy pickup and drop-off at the
<a href="https://baisikeli.dk/pages/bike-rental" target="_blank">Baisikeli</a>
shop, close to the venue (a 15 minutes walk). They are a socio-economic
company doing great things, and they will find a bike that fits you and help
you get the seat adjusted.</p>

<p>Confirmations will be submitted on <strong><u>Sunday March 31st 00:00 CET</u></strong>.</p>

<p><strong>The actual payment is done through cash or credit card at the shop.</strong></p>

<h2>Prices</h2>

<table class="priceTable">
<thead>
<tr>
<th>TIME</th>
<th>BUDGET</th>
<th>STANDARD</th>
<th>LUX</th>
</tr>
</thead>
<tbody>
<tr>
<td>3 days</td>
<td>150 kr. (€20.22)</td>
<td>210 kr. (€28.30)</td>
<td>270 kr. (€36.39)</td>
</tr>
<tr>
<td>Add day</td>
<td>35 kr. (€4.72)</td>
<td>50 kr. (€6.74)</td>
<td>65 kr. (€8.76)</td>
</tr>
<tr>
<td>1 week</td>
<td>270 kr. (€36.39)</td>
<td>385 kr. (€51.89)</td>
<td>500 kr. (€67.39</td>
</tr>
<tr>
<td>Add day</td>
<td>20 kr. (€2.70)</td>
<td>30 kr. (€4.04)</td>
<td>40 kr. (€5.39)</td>
</tr>
</tbody>
</table>

<p>For prices longer durations and other bike times (like cargo bikes, bikes for children and racking bikes), <a href="https://baisikeli.dk/pages/bike-rental">check the website</a>.</p>

<style>
#id_size,
#id_size li
{
    list-style: none;
    padding: 0;
    margin: 0;
    text-indent: 0;
}
#id_size input
{
    float: left;
    margin-right: 10px;
}
</style>

<form method="POST" style="width: 100%">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Save changes</button></p>
</form>

{% endblock %}
