{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<ul class="header-submenu">
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'index' %}">Start</a>
        </li>
        <li>
            <a href="{% url 'ticketholders:logout' %}">Logout</a>
        </li>
        <li>
            <a href="{% url 'ticketholders:password_change' %}">Change password</a>
        </li>
    {% endif %}
    {% block menu %}
    {% endblock %}
</ul>

<div class="container">
    <main>
        <article>
            {{ .Content }}
        </article>
    </main>
</div>

{{ partial "footer.html" . }}
