{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<ul class="header-submenu">
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'index' %}">Start</a>
        </li>
        <li>
            <a href="{% url 'invoices:ticket_list' %}">Invoices</a>
        </li>
        <li>
            <a href="{% url 'ticketholders:password_change' %}">Change password</a>
        </li>
        <li>
            <a href="{% url 'ticketholders:sprints' %}">Sprints</a>
        </li>
        <li>
            <a href="{% url 'ticketholders:bike_booking' %}">Book a bike</a>
        </li>
        <li>
            <a href="{% url 'ticketholders:community' %}">Community</a>
        </li>
        <li>
            <a href="{% url 'ticketholders:logout' %}">Logout</a>
        </li>
    {% endif %}
    {% block menu %}
    {% endblock %}
</ul>

<div class="container">
    <main>
        {% if messages %}
        <div class="container" style="margin-top: 30px; margin-bottom: 30px;">

            {% for message in messages %}
            <div class="alert">
              ¤{¤{ message ¤}¤}
            </div>
            {% endfor %}
        {% endif %}

        <article>
            {{ .Content }}
        </article>
    </main>
</div>

{{ partial "footer.html" . }}
