{% extends "base.html" %}

{% block title %}Community{% endblock %}

{% block content %}

<h1>Meet your fellow community online</h1>

<p>Organising something in advance? Or spontaneously during the event? Meet up with other ticketholders on the attendee Slack Channel (sign-up required via below link):</p>

<p style="overflow-x: hidden;">
    <a href="https://join.slack.com/t/djangoconeurope2019/shared_invite/{{ slack_invite_token }}">
        https://join.slack.com/t/djangoconeurope2019/shared_invite/{{ slack_invite_token }}
    </a>
</p>

<p>Additionally, on IRC:</p>

<ul>
    <li><strong>#djangocon</strong> on Freenode</li>
</ul>

{% endblock %}
