{% extends "base.html" %}
{% load tz static %}

{% block title %}T-shirts{% endblock %}

{% block content %}

<h1>T-shirts</h1>

<p><em><strong>It's all screen-printed and delivered on location!</strong></em></p>

<p>Get an original souvenir, help future Django community activities: Order a t-shirt w/print or a separate print on your own garment. Our venue partner are staffing the screen print action on the first floor.</p>

<p>Choose between 3 surprise custom prints: Get a brand new Fairtrade t-shirt
or use your own garment (such as the official Tote Bag or your own t-shirt).
The print is made with allergy and environment friendly ink.</p>

<p style="text-align: center">
    <a href="https://djangocon.ticketbutler.io/en/e/djangocon-merch/" class="button button-red" target="_blank">ORDER HERE</a>
</p>
<p style="text-align: center">
    Note: This is sold as a of ticket, meaning that you present it in the
    <code>validate()</code> Area (Registration/Help Desk), where you get a
    voucher form for the print or t-shirt, which you bring to the
    print shop on the first floor.
</p>

<h3>Prices</h3>

<p style="text-align: center">
    T-shirt w/ print - <strong>160 DKK (~€22)</strong><br>
    Print - <strong>60 DKK (~€8)</strong>
</p>

<p style="text-align: center">
<img src="{% static "img/tshirt-teaser.png" %}" />
</p>
{% endblock %}
