{% extends "base.html" %}
{% load tz static %}

{% block title %}T-shirts{% endblock %}

{% block content %}

<h1>T-shirts</h1>

<p>Choose between 3 surprise custom prints: Get a brand new Fairtrade t-shirt
or use your own garment (such as the offcial Tote Bag or your old t-shirt).</p>

<p><em><strong>It's all printed on location!</strong></em></p>

<p>Get an original souvenir, help future Django community activities: Buy the print or t-shirt w/print here, pick up a voucher at the registration or Help Desk.</p>

<p style="text-align: center">
    <a href="https://djangocon.ticketbutler.io/en/e/djangocon-merch/" class="button button-red" target="_blank">Yay! Onwards!</a><br>
    Note: This is also a kind of ticket, meaning that you also validate it in
the <code>validate()</code> Area (Registration/Help Desk), where you get a voucher for the print workshop.
</p>

<p>
<img src="{% static "img/tshirt-teaser.png" %}">
</p>
{% endblock %}
