{% extends "base.html" %}
{% load tz %}

{% block title %}Workshop attendance{% endblock %}

{% block content %}
{% timezone "Europe/Copenhagen" %}

<h1>Workshop attendance</h1>

<p>Sign up for workshops here. You can do it before the conference and during
the conference. Make sure that you unbook your seat if you're not going anyways.</p>

<p><em>This page will be updated to show the timeslots of the workshops, meanwhile check out the <a href="https://2019.djangocon.eu/schedule/">schedule</a> for times.</em></p>

<p>Try to be at the workshop a few minutes before they start. If you didn't click Attend, it's important to pay attention to the capacity of the room before entering.</p>

<table>

<thead>
<tr>
    <th>Workshop</th>
    <th>Host</th>
    <th>Attendance</th>
<tr>
</thead>

<tbody>

{% for workshop in workshops %}
<tr>
    <td>
        <a href="{{ workshop.get_public_site_url }}">{{ workshop.submission.title }}</a><br>
        by {% for speaker in workshop.submission.speakers.all %}
        {{ speaker.name }}{% if not forloop.last %} & {% endif %}
        {% endfor %}

    </td>
    <td>
        {{ workshop.submission.slot.start|date:"l H:i" }}-{{ workshop.submission.slot.end|date:"H:i" }}<br>
        in {{ workshop.submission.slot.room }}
    </td>
    <td style="text-align: center; white-space: nowrap;">
        <p>{{ workshop.attending }} / {{ workshop.max_attendance }}</p>
        {% if workshop in attending %}
        <a href="{% url 'ticketholders:workshop_unattend' pk=workshop.id %}" class="button button-red" style="padding: 3px;">Un-attend</a>
        {% else %}
        <a href="{% url 'ticketholders:workshop_attend' pk=workshop.id %}" class="button" style="padding: 3px;">Attend</a>
        {% endif %}
    </td>
</tr>
{% endfor %}

</tbody>

</table>

<p><a href="https://github.com/djangocon/2019.djangocon.eu/issues/320">Bug fix</a>: All times are displayed in local Copenhagen time now, not UTC. </p>

{% endtimezone %}

{% endblock %}
