<header class="header">
  <a href="{{ .Site.BaseURL }}">
    <img src="{{ .Site.BaseURL }}img/{{if .Params.headerimage }}{{ printf "%s" $.Params.headerimage }}{{else}}{{ printf "%s" $.Site.Params.headerimage }}{{end}}" alt="DjangoCPH logo" class="header-logo"/>
  </a>

  <nav>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>
