<header class="header">
  <a href="{{ .Site.BaseURL }}">
    <img src="/static/img/{{if .Params.headerimage }}{{ printf "%s" $.Params.headerimage }}{{else}}{{ printf "%s" $.Site.Params.headerimage }}{{end}}" alt="DjangoCPH logo" class="header-logo"/>
  </a>

  <nav>
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <li class="{{ if (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .))}}active{{ end }}">
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>

{{ range .Site.Menus.main }}
  {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
    <ul class="header-submenu">
      {{ if and ($currentPage.IsMenuCurrent "main" .) (.HasChildren) }}
        <li class="active">
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
      {{ end }}
      {{ if $currentPage.HasMenuCurrent "main" . }}
        <li>
          <a href="{{ .URL | absURL  }}">{{ .Name }}</a>
        </li>
      {{ end }}
      {{ if .HasChildren }}
        {{ range .Children }}
        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
