$navy-blue: #00204a;
$purple: #39065a;
$teal: #29a19c;
$bright-blue: #49beb7;
$orange: #F17430;
$peach: #F9B99E;
$coral: #e61c5d;
$beige: #C9C3B0;
$gray-light: #E7E7E7;

$primary-font: 'Poppins', sans-serif;

$tablet: 48rem;
$desktop: 60rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  color: $navy-blue;
}

body {
  font-family: $primary-font;
  font-size: 16px;
}

h1 {
  color: $teal;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  color: $teal;
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  color: $bright-blue;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

input[type="email"],
input[type="text"] {
  border: 0;
  background-color: $gray-light;
  padding: 1rem;
  line-height: 1;
  font-size: 16px;
  font-family: $primary-font;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $bright-blue;
}

a.button,
button,
input[type="submit"] {
  padding: 1rem 1.25rem;
  background: $bright-blue;
  border: 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  font-family: $primary-font;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  transition: transform 0.2s ease-out;

  &.button-red {
    background: $coral;
  }

  &.button-orange {
    background: $orange;
  }

  &:hover {
    -webkit-transform: scale(1.05);
    -moz-transform:    scale(1.05);
    -ms-transform:     scale(1.05);
    -o-transform:      scale(1.05);
    transform: scale(1.05);
  }
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

//
// Header
.header-logo {
  width: 170px;
  display: block;
  margin: 0rem auto 1.5rem auto;

  @media (min-width: $tablet) {
    margin: 0.75rem 1rem 1rem 1rem;
  }
}

//
// Navigation
.header {
  padding: 1rem 0;
  z-index: 5;
  background-color: $navy-blue;
  justify-content: space-between;
  background-position: center;
  background-size: 400px;
  background-image: url('/img/fin_13.png');
  align-items: center;

  @media (min-width: $tablet) {
    display: flex;
    padding: 1rem;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;

    @media (min-width: $tablet) {
      flex-flow: row;
    }
  }

  nav li {
    list-style-type: none;

    &.active a {
      color: $coral;
    }
  }

  nav a {
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.75rem;
    letter-spacing: 1px;
    line-height: 1.15;
    color: white;
    display: inline-block;
    font-size: 14px;

    @media (min-width: $tablet) {
      padding: 1rem;
    }

    @media (min-width: $desktop) {
      font-size: 16px;
    }

    &:hover {
      background-color: white;
      cursor: pointer;
      color: $coral;
    }
  }
}

.header-submenu {
  background: $coral;
  margin: 0 0 0 0;
  padding: 0;
  justify-content: center;
  display: flex;

  li {
    list-style-type: none;
  }

  a {
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 1px;
    line-height: 1.15;
    color: white;
    display: inline-block;
    font-size: 14px;
    @media (min-width: $desktop) {
      font-size: 16px;
    }
  }
}

//
// Hero
.header-hero {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  padding: 1rem 1rem 4rem 1rem;
  background-image: url('/img/nick-karvounis-484732-unsplash.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 1rem 2rem 1rem;
  }

  @media (min-width: $desktop) {
    padding: 0 2rem 4rem 2rem;
  }

  .container {
    position: relative;
    z-index: 5;
  }

  &:before {
    background: $navy-blue;
    content: "";
    position: absolute;
    opacity: 0.85;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  h1 {
    color: white;
    padding: 2rem 0 4rem 0;
    margin: 0;
    line-height: 1.25;
    font-size: 2rem;

    @media (min-width: $tablet) {
      font-size: 2.5rem;
    }
  }

  small {
    display: block;
    font-weight: 500;
    margin-top: 1.5rem;
    color: $bright-blue;
    font-size: 1.25rem;

    @media (min-width: $tablet) {
      font-size: 1.75rem;
    }
  }

  p {
    font-size: 1.35rem;
  }

  .header {
    background-image: none;
    background-color: transparent;
    width: 100%;
    position: relative;
    z-index: 5;
  }

  .header-logo {
    width: 220px;

    @media (min-width: $tablet) {
      width: 180px;
    }

    @media (min-width: $desktop) {
      width: 200px;
    }
  }
}

main {
  margin: 2rem 0;
  padding: 0 1rem;

  @media (min-width: $tablet) {
    margin: 4rem 0;
  }

  a:not(.button) {
    text-decoration: none;
    color: $teal;
    border-bottom: 1px solid $bright-blue;

    &:hover {
      color: $purple;
      border-bottom: 1px solid $coral;
    }
  }

  h2 {
    margin-top: 2rem;
  }

  p {
    font-size: 1.1rem;
  }

  ul li {
    margin-bottom: 1rem;
  }

  b,
  strong {
    color: $navy-blue;
  }
}

footer {
  color: white;
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  background: $purple;
  background-position: center;
  background-image: url('/img/fin_092.png');
  background-size: 700px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  flex-flow: column;
  text-align: center;

  p {
    margin: 1rem;
  }

  @media (min-width: $tablet) {
    flex-flow: row;
  }
}

.form-subscribe {
  text-align: center;
  padding: 0 1rem;
  margin: 2rem 0 4rem 0;

  p {
    margin-bottom: 1.5rem;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
  }
}

//
// Page specific styles
//

.page-index {
  .logo {
    width: 70%;
    display: block;
    margin: 0 auto;
  }

  h1 {
    line-height: 1.25;
  }
}

.schedule {
  margin-bottom: 4rem;

  li {
    list-style-type: none;
    margin-bottom: 1rem;
    align-items: center;

    @media (min-width: $tablet) {
      display: flex;
    }
  }

  li p {
    margin: 0;
    width: 100%;
  }

  .month {
    padding-right: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $coral;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;

    @media (min-width: $tablet) {
      display: inline-block;
      flex-basis: 8rem;
      width: 8rem;
      margin-left: -8rem;
      text-align: right;
    }
  }

  li.strike {
    text-decoration: line-through;
    opacity: 0.6;

    .month {
      color: $navy-blue;
    }
  }
}


code
{
  background-color: rgb(249, 242, 244);
  border: 1px solid #aaa;
  border-radius: 4px;
  color: $coral;
  font-family: monospace;
  padding: 2px 4px;
}
