{% extends "base.html" %}

{% block title %}Tickets and invoices{% endblock %}

{% block content %}

<h1>Tickets and invoices</h1>

{% for ticket in tickets %}

<h2>Ticket: {{ ticket.ticketbutler_orderid }}</h2>

<ul>
    <li>Invoice:
      {% if ticket.invoice %}
        <a href="{% url 'invoices:ticket_invoice' invoice_id=ticket.invoice.id %}">View PDF</a>
      {% else %}
        <em>Not generated</em>
      {% endif %}
    </li>
</ul>

{% empty %}

<p>You don't seem to have any tickets and invoices. But this could be because we don't synchronize our system with the ticket system all too often and the sync'ing is still a manual process... try checking back again tomorrow or write 2019@djangocon.eu if something seems wrong.</p>

{% endfor %}

{% endblock %}
