{% extends "base.html" %}

{% block title %}Tickets and invoices{% endblock %}

{% block content %}

<h1>Tickets and invoices</h1>

{% for ticket in tickets %}

<h2>Ticket: {{ ticket.ticketbutler_orderid }}</h2>

{% for invoice in ticket.invoices.all %}
<p style="text-align: center">
    <a href="{% url 'invoices:ticket_invoice' invoice_id=invoice.id %}" class="button button-red">View invoice PDF</a>
</p>
  {% empty %}
    <em>Invoice not generated</em>
{% endfor %}

{% empty %}

<p>You don't seem to have any tickets and invoices. But this could be because we don't synchronize our system with the ticket system all too often and the sync'ing is still a manual process... try checking back again tomorrow or write 2019@djangocon.eu if something seems wrong.</p>

{% endfor %}

{% endblock %}
