{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container">
  <main>
    <article>
      {{ .Content }}

      <div class="talk-list">
        {{ range sort $.Site.Data.keynotes "speakers" }}
        {{ partial "talk_preview.html" . }}
        {{ end }}
      </div>

      <div class="talk-list">
        {{ range sort $.Site.Data.talks "speakers" }}
        {{ partial "talk_preview.html" . }}
        {{ end }}
      </div>

      <h2>Workshops/break-out sessions</h2>

      <div class="talk-list">
        {{ range sort $.Site.Data.workshops "speakers" }}
        {{ partial "talk_preview.html" . }}
        {{ end }}
      </div>

      <p style="margin-top: 30px"><em>More talks are being added as we receive confirmation from speakers...</em></p>

    </article>
  </main>
</div>

{{ partial "footer.html" . }}
