{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container">
  <main>
    <article>
      {{ .Content }}

      <div class="talk-list">
        {{ range sort $.Site.Data.talks "keynote" "desc" }}
        <div class="talk">
          <img src="{{ .speaker_image }}" class="talk-image" />

          <div class="talk-content">
            <div class="talk-speaker">
              {{ .speakers }}
            </div>
            <p class="talk-title">
              {{ .title }}
            </p>
          </div>

          <div class="talk-abstract">
            {{ .abstract | plainify | truncate 250 }}
            <p><a href="/talks/{{ .slug }}">Details</a></p>
          </div>
        </div>
        {{ end }}
      </div>

      <p style="margin-top: 30px"><em>More talks are being added as we receive confirmation from speakers...</em></p>

    </article>
  </main>
</div>

{{ partial "footer.html" . }}
