{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container">
	<main>
		<article>
        <div class="talk">
          <img src="{{ .Page.Params.speaker_image }}" class="talk-image" />

          <div class="talk-content">
            <div class="talk-speaker">
              {{ .Page.Params.speakers }}
            </div>
            {{ if .Page.Params.speaker_twitter }}
              <p>
                <a href="https://twitter.com/{{ .Page.Params.speaker_twitter }}" target="_blank" style="border: none">
                  🐦 @{{ .Page.Params.speaker_twitter }}
                </a>
              </p>
            {{ end }}
            <p class="talk-title">
              {{ if .Page.Params.workshop }}<strong>Workshop/break-out session:</strong><br>{{ end }}
              {{ if .Page.Params.keynote }}<strong>Keynote:</strong><br>{{ end }}
              {{ .Title }}
            </p>
            {{ if .Page.Params.employer_attribution }}
              <p>
                With thanks to
                <a href="{{ .Page.Params.employer_url }}" target="_blank" style="border: none">
                  {{ .Page.Params.employer_attribution }}
                </a>
              </p>
            {{ end }}
          </div>

          <div class="talk-abstract">
      			{{ .Content }}

      			{{ if .Page.Params.workshop }}
      			<p><em>Break-out sessions are expected to last around 60 minutes. They will have limited seats and will have a sign-up option provided on the ticketholder website, once the schedule is known.</em></p>
      			{{ end }}

          </div>
        </div>
		</article>
	</main>
</div>

{{ partial "footer.html" . }}
